form{
    border-color: black;
    border-radius: 10px;
    padding: 40px;
    margin: -40px 0 0;
    font-size: 15px;
}

form input{
    display: block;
    width: 95%;
   border: none;
   height: 12px;
   background-color: rgb(212, 212, 212);
   padding: 15px;
}

ul{
    border: 2px solid black;
    padding:20px;
    width: 60%;
    margin-left:250px;
}


form .Reserve{
    max-width: 150px;
    height: auto;
    background: rgb(71, 199, 250);
    color:rgb(212, 212, 212)
}

form .Reserve:hover{
    background:rgb(2, 66, 241);
    color:white;
}

h1{
    margin-left:36px;
    font-family: Inter;
}

.footer-margin {
    margin-top: 30px;
}

.footer-header{
    font-size: 16px;
}

.footer-list{
    list-style: none;
    padding: 0;
}

.footer-list a {
    color: #D4D4D4;
}

nav {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

a:hover {
    color: rgb(39, 149, 196);
    transition: 0.2s;
}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.logo h1{
    font-size: 28px;
}

.time {
    margin-left: 15px;
}

.lang {
    margin-right: 15px;
}

.lang li{
    display: inline-block;
    margin-left: 15px;
}

.bottom-nav ul{
    margin-top: 15px;
    margin-left: 50px;
    text-align: center;
}

.bottom-nav li {
    display: inline-block;
    margin-right: 20px;
}

.active {
    color:rgb(39, 149, 196);
}

.section {
    height: 100px;
    width: 1200px;
    background-color: aqua;
}